@model School

@{
    ViewData["Title"] = "Platzi School";
    Layout = "Simple";
}

<h1>Nombre de la escuela: @Model.Name</h1>
<p>Año de fundación: @Model.AñoDeCreación</p>
<p>Tipo de escuela: @Model.TipoEscuela</p>
<p>EYOU: @ViewBag.cosaDinamica</p>
<p>Dirección: @Model.Dirección</p>